/*logocolor #311694*/
@font-face{
	font-family: chant;
	src: url("./aquiline/Aquiline.ttf");
}
@font-face{
	font-family: bat;
	src: url(bats-symbols.ttf);
}
body{
	background-color: black; 
	color: white;
	font-size: 14pt;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("sajtpoz3.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*hr{
	margin-bottom: 0;
}*/
ul{
	list-style-type: none;
	text-align: right;
}

a{
	color: grey; 
	text-decoration: none;
}

a:hover{
 	color: lightgray;
 	text-decoration: none;
}

#title{
	margin-top: 2%;
	text-align: center;
}

#line{
	border-top: 3px solid #311694;
	width: 55vw;
	text-align: center;
}

#logoMali{
	position: fixed;
	top:0;
	left: 20px;
}

#biography{
	background: rgba(0, 0, 0, 0.65);
}

.active{
 	color: white;
}
.container{
	margin-bottom:6rem;
}
.card{
/* 	color:black;
*/	margin-bottom: 5%;
/*	background: rgba(0, 0, 0, 0.65);*/
}

.newss{
	margin-top: 2vh;
}

.nbar{
	bottom: 10px;
	position: fixed;
	right: 13px;
}

.nbar1{
	position: fixed;
	top: 10px;
	right: 13px;
}
.naslov{
	text-align: center;
}
.news{
	color: black;
}

.nbar2{
	text-align: center;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
	padding-top: 1rem;
	margin-top: 0.5rem;
	font-size: 21px;
	background-color: black !important; 
	background: rgba(0, 0, 0, 0.8)!important;
}

.nbar3{
	text-align: center;
	background:rgba(0, 0, 0, 0.9)!important;
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
}

/*.picture {
 height: 300px;
 width: 400px;
 overflow: hidden;
}
*/

.img-thumbnail{
	width: 100%;
  	object-fit: cover;
  	background-color: rgba(25, 30, 36);
  	background: rgba(25, 30, 36,0,8);
  	border: 1px solid rgba(49, 22, 148,0.5);
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 8px;
  margin-bottom: 8px;
}
.modal-content{
	background-color: rgba(33, 39, 46);
	background: rgba(25,30,36,0.82);
	border: none;
	border-radius: 0.8rem;
}
.modal-header{
	padding: 0;
	border-bottom: none;
}
.modal-footer{
	border-top:none;
}
.btn{
	font-size: 1.14rem;
	background-color:rgba(33, 39, 46);
	background: rgba(33, 39, 46,0.8); 
}
.close{
	color:white !important;
	font-size: 35px;
	opacity: .5;
}
.clos{
	margin-right: 1.2rem;
	margin-top: 0.8rem;
}

@media (max-width:991.98px){
    hr{
    	margin-bottom: 0;
    }
    body{
    	font-size: 37px;
    	background-attachment: initial;
    }

    .model-content{
    	display: none !important;
    }
    .btn{
    	font-size: 25px;
    }
    .menu{
    	margin-top: 20px;
    	margin-bottom: 20px;
    	font-size: 35px;
    }
    .card-title{
    	font-size: 33px;
    }

}

